<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<head>
    <title>Depth</title>
</head>

<body>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('home') }}">
        <!-- <img src="/whale.jp" width="30" height="30" class="d-inline-block align-top" alt=""> -->
        Depth
    </a>
</nav>
      

<!-- Main Content -->
{% block body %}{% endblock %}

</body>
</html>
