{% extends 'base.html' %}
{% block body %}
<html lang="en">
    <body>
        <div class="container">
            <h2>Best Of</h2>
            {% for category in bestOfCategories%}
                <a href="{{ url_for('BestOfDetail', subject=category) }}"><button type="button" class="btn btn-light">{{category}}</button></a>
            {% endfor %}
    
            <h2>Conversations</h2>
            {% for category in categories%}
                <a href="{{ url_for('ConversationDetail', category=category) }}"><button type="button" class="btn btn-light">{{category}}</button></a>
            {% endfor %}
        </div>
    </body>
</html>

{% endblock %}
